body {
  background-image: url('./components/1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

table {
  margin-left: auto;
  background-color: #7761ab;
  margin-right: auto;
  width: 480px;
  }


form{
  border:1px solid rgb(159, 20, 20);
  text-align:center;
}

.button1{
  background-color: #adf182;
  font-size: 20px;
  padding: 14px 40px;
  border-radius: 8px;
  border: 2px solid #e6770b;
  width: 150px;
}

.button2{
  background-color: #adf182;
  font-size: 20px;
  padding: 14px 40px;
  border-radius: 8px;
  border: 2px solid #c7fba5;
  width: 111px;
}

.button3{
  background-color: #52d053;
  font-size: 20px;
  padding: 14px 40px;
  border-radius: 8px;
  border: 2px solid #c7fba5;
  width: 111px;
}

.form{
  padding: 20px 10px;
  font-size: 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: right;
}

.div{
  background-color: #7761ab;
  border-radius: 20px;
  height: 625px;
  width: 550px;
  
}

